.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.container .row {
  margin-left: (-1 * $gutter-width / 2);
  margin-right: (-1 * $gutter-width / 2);
}

.row {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	width: calc(100% + #{$gutter-width});

	// Clear floating children
	&:after {
		content: "";
		display: table;
		clear: both;
	}

	.col {
		float: left;
		box-sizing: border-box;
		padding-left: $gutter-width / 2;
		padding-right: $gutter-width / 2;
		//width: 100%;

		$i: 1;
		@while $i <= $num-cols {
			$perc: unquote((100 / ($num-cols / $i)) + "%");
			&.s#{$i} {
				width: $perc;
				margin-left: 0;
			}
			$i: $i + 1;
		}
		$i: 1;
		@while $i <= $num-cols {
			$perc: unquote((100 / ($num-cols / $i)) + "%");
			&.offset-s#{$i} {
				margin-left: $perc;
			}
			$i: $i + 1;
		}
		
		@media #{$small-only} {
			@while $i <= $num-cols {
				@for $c from 1 to $num-cols {
					&.m#{$i} .m#{$c}{
						width: 100% / ($i - 1) * $c;
					}
				}
				$i: $i + 1;
			}
		}

		@media #{$medium-and-up} {

			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.m#{$i} {
					width: $perc;
					margin-left: 0;
				}
				@for $c from 1 to $num-cols {
					&.m#{$i} .m#{$c}{
						width: 100% / $i * $c;
					}
				}
				$i: $i + 1;
			}
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.offset-m#{$i} {
					margin-left: $perc;
				}
				$i: $i + 1;
			}

			&.l2-5, &.m2-5 {
				width: 50%;
			}
		}

		@media #{$large-and-up} {

			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.l#{$i} {
					width: $perc;
					margin-left: 0;
					max-width: 80px*$i + $gutter-width*$i;
				}
				@for $c from 1 to $num-cols {
					&.l#{$i} .l#{$c}{
						width: 100% / $i * $c;
					}
				}
				$i: $i + 1;
			}
			$i: 1;
			@while $i <= $num-cols {
				$perc: unquote((100 / ($num-cols / $i)) + "%");
				&.offset-l#{$i} {
					margin-left: $perc;
				}
				$i: $i + 1;
			}

		}
	}
}