// layout
html, body {
	height: 100%;
}
.layout,
.page {
	min-height: 100%;
}
.workarea-wrapper {
	min-height: calc(100vh - 770px);
	padding: 0 $gutter-width/2;
	padding-bottom: $gutter-width*2.5;
}
/*.workarea *:last-child {
	margin-bottom: 0;
}*/

.page {
	background: color("bg", "base");
	overflow-x: hidden;
}
.header-wrapper,
.footer-wrapper {
	background: white;
	color: color("text", "base");
}
.topbar {
	background: color("bg", "topbar");
	color: color("text", "darker");
}
.main-menu {
	background: color("bg", "dark");
	color: white;
}
.phone-box {
	line-height: 1;
	.phone-link {
		display: inline-block;
		margin-bottom: 3px;
	}
}

// header
.header {
	padding-top: $gutter-width;
	padding-bottom: $gutter-width*0.75;
	.phone-box {
		padding-top: $gutter-width*0.4;
	}
}
// subsribe-box
.subscribe-box {
	padding-top: $gutter-width*1.5;
	padding-bottom: $gutter-width*1.5;
	border-bottom: 1px solid color('border', 'lighter');
	.sbscr-text {
		@extend .big-text;
		padding-top: $gutter-width/4;
		padding-bottom: $gutter-width/2;
	}
}
// social
.soc-list {
	@extend ul.nostyle;
	.soc-item {
		margin-right: $gutter-width/2;
	}
	.soc-link {
		display: block;
		width: 31px;
		height: 31px;
		padding: 6px;
		border: 1px solid color('icons', 'soc');
		border-radius: $circle-border-radius;
		line-height: 17px;
		vertical-align: middle;
		text-align: center;
		color: color('icons', 'soc');
		.icon {
			fill: color('icons', 'soc');
		}
	}
}
// footer
.footer {
	padding: $gutter-width*1.5 0 $gutter-width*1.25;
	.box-title {
		margin-top: 0;
		margin-bottom: $gutter-width*0.66;
		@extend .big-text;
		font-weight: normal;
		color: color('primary', 'base');
	}
	.phone-box,
	.schedule-box {
		margin-bottom: $gutter-width;
	}
	.phone-box .phone-link {
		font-size: 22px;
		margin: 1em 0 0;
		display: block;
	}
	.schedule-box p {
		margin: $gutter-width/2 0;
	}
}
.bottombar {
	padding: $gutter-width*1.5 0;
	border-top: 1px solid color('border', 'lighter');
}