// carousel
.carousel {
	overflow: hidden;
	padding-top: $gutter-width/2;
	padding-bottom: $gutter-width/2;
	.carousel-inner {
		width: 99999px;
		z-index: 2;
	}
	.item {
		margin-bottom: 0;
	}
}
.carousel-controlls {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
	.prev,
	.next {
		position: absolute;
		top: 50%;
		margin-top: -1*$gutter-width;
		width: $gutter-width*2;
		height: $gutter-width*2;
		padding: 7px;
		background: none;
		border: 0;
		.icon {
			fill: color('icons', 'base');
		}
	}
	.prev {
		left: -2.75*$gutter-width;
	}
	.next {
		right: -2.75*$gutter-width;
		transform: rotate(180deg);
	}
}
.carousel-nav {
	@extend ul.nostyle;
	@extend ul.horizontal;
	position: absolute;
	width: 100%;
	height: 13px;
	left: 0;
	bottom: $gutter-width;
	z-index: 999;
	text-align: center;
	vertical-align: middle;
	.nav-item {
		margin: 0 3px;
	}
	.nav-link {
		display: block;
		width: 13px;
		height: 13px;
		border-radius: $circle-border-radius;
		background: #f3f3f3;
		opacity: 0.4;
		will-change: opacity;
		transition: opacity .3s ease;
		&.active {
			opacity: 1;
		}
	}
}
.carousel.home-carousel {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	.item {
		height: 450px;
		overflow: hidden;
	}
	.item-img {
		width: 100%;
		height: auto;
	}
	.item-link {
		height: 100%;
	}
}
.product-carousel {
	margin-bottom: $gutter-width;
}