// product-card
.product-card {
	background: white;
	border-radius: $base-border-radius;
	@extend .z-depth-1;
	transition: box-shadow .3s ease;
	&:hover {
		@extend .z-depth-3;
	}
	.product-info {
		padding: $gutter-width*1.5 $gutter-width $gutter-width*0.75;
	}
	.compare {
		padding: $gutter-width*0.6 $gutter-width $gutter-width;
		border-top: 1px solid #eeeeee;
		margin-bottom: 0;
	}
	.item-img {
		display: block;
		width: 100%;
		height: $gutter-width*10;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	.item-name {
		margin: $gutter-width + 3px 0 $gutter-width*0.4;
		@extend .medium-text;
		min-height: 3em;
		a {
			@extend a.nostyle;
		}
	}
	.product-price {
		line-height: 1;
		height: 50px;
		.old-price {
			@extend .medium-text;
			@extend .lighter-color;
			lone-height: 21px;
		}
		.price {
			font-size: 24px;
			padding: 13px 0 12px;
		}
		.old-price + .price {
			//padding: 5px 0;
		}
	}
	.btn.shopping-card {
		width: 70px;
		position: absolute;
		right: $gutter-width;
		bottom: $gutter-width;
	}
}
.with-offer {
	height: 460px;
	.product-card {
		height: 460px;
		transition: height .3s ease, box-shadow .3s ease;
		.offer {
			position: absolute;
			top: 400px;
			left: 0;
			width: 100%;
			padding: 0 $gutter-width;
			opacity: 0;
			z-index: 6;
			transition: opacity .3s ease;
			.table-field {
				margin-top: 0;
				.field {
					width: calc(69% - 10px);
				}
			}
		}
		.compare {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		&:hover  {
			height: 502px;
			position: absolute;
			width: calc(100% - #{$gutter-width});
			z-index: 5;
			.offer {
				opacity: 1;
			}
		}
	}
}