// product
.product-page {
	.main-info {
		@extend .z-depth-1;
		background: white;
		border-radius: $base-border-radius;
		margin-top: $gutter-width*0.65;
		.card-header {
			padding-left: $gutter-width;
		}
		.product-title {
			font-size: 28px;
			@extend .light;
			margin: 1em 0 0;
		}
		.btn-favorite {
			padding: 0;
			margin-top: 38px;
			margin-right: 8px;
			width: 22px;
			height: 22px;
			.icon {
				fill: color('text', 'dark');
			}
			&:hover .icon {
				fill: color('primary', 'base');
			}
		}
		.rating,
		.articul {
			margin: $gutter-width*0.35 $gutter-width*0.65 $gutter-width*0.65;
		}
		.product-imgs {
			margin-top: $gutter-width*1.5;
		}
		.thumbs {
			width: 80px;
			height: 300px;
			margin-left: $gutter-width*1.5;
			.item {
				width: 100%;
				height: 80px;
				padding: $gutter-width/2 0;
				border: 1px solid color('border', 'light');
				margin-bottom: $gutter-width/2;
				&:hover,
				&.active {
					border: 1px solid color('primary', 'base');
				}
			}
		}
		.full-img {
			width: 87%;
			width: calc(100% - 110px);
			padding-right: 100px;
			height: 100%;
			min-height: 300px;
			text-align: center;
			vertical-align: middle;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				max-height: 100%;
			}
		}
		.action-panel {
			margin-left: $gutter-width*0.75;
			border-left: 1px solid color('border', 'light');
			min-height: 520px;
		}
		.product-price {
			padding: $gutter-width*1.75 $gutter-width*1.25 $gutter-width;
			@extend .xxbig-text;
			line-height: 1em;
			.old-price {
				display: inline-block;
				font-size: 0.67em;
				color: color('text', 'light');
				&:after {
					content: '';
					display: block;
					position: absolute;
					width: 100%;
					height: 1px;
					background: color('text', 'light');
					left: 0;
					top: 0.8em;
				}
			}
			.price {
				text-align: center;
			}
			.old-price + .price {
				display: inline-block;
				margin-left: 5px;
				text-align: left;
			}
		}
		.product-options {
			padding: $gutter-width*1.25 $gutter-width*1.25 $gutter-width;
			.label {
				margin-top: 9px;
			}
		}
		.action-buttons {
			margin-top: $gutter-width*5;
			padding: 0 $gutter-width*1.25;
			.btn {
				margin-top: $gutter-width;
			}
		}
		.product-options + .action-buttons {
			margin-top: 0;
		}
		.delivery-text {
			padding: $gutter-width*2.5 $gutter-width*1.25 $gutter-width*1.5;
			table {
				td {
					padding: 0.3em 2px;
				}
				tr td:last-child {
					text-align: right;
				}
			}
		}
		.compare {
			border-top: 1px solid color('border', 'light');
			padding: 35px 25px;
		}
	}
	.more-info {
		margin-top: $gutter-width*1.5;
		margin-bottom: $gutter-width/2;
		#accs {
			background: none;
			padding-top: $gutter-width*2;
			padding-bottom: 0;
		}
	}
}