// reviews
.reviews-list {
	margin-top: $gutter-width/2;
	.review-item {
		border-top: 1px solid color('border', 'table-border');
		padding-top: $gutter-width*1.25;
		padding-bottom: $gutter-width*1.25;
		&:first-child {
			border-top: 0;
		}
		&:last-child {
			padding-bottom: 0;
		}
		.subtitle {
			@extend .medium;
			font-size: $base-size;
			color: color('text', 'dark');
			margin: 0 0 8px;
		}
		p {
			margin: 8px 0;
		}
		p + .subtitle {
			margin-top: $gutter-width*1.1;
		}
	}
}