// fields
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="search"],
.inputtext,
textarea {
	display: block;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid color('border', 'light');
	border-radius: $base-border-radius;
	padding: 9px 15px;
	font-family: inherit;
	@extend .small-text;
	line-height: 20px;
	color: color('text', 'darker');
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	
	& + .textfield-placeholder {
		@extend .small-text;
		line-height: 20px;
		color: color('text', 'light');
		position: absolute;
		top: $gutter-width/2;
		left: 15px;
		cursor: text;
		opacity: 1;
		will-change: opacity, transform;
		transform: translate(0,0);
		transition: transform .1s, opacity .1s;
	}
	
	&.inputtext-small {
		max-width: 100px;
		font-size: $base-size;
		line-height: 1em;
		padding: 7px 15px;
		height: 30px;
		border-radius: $small-border-radius;
		& + .textfield-placeholder {
			font-size: $base-size;
			line-height: 1em;
			top: 9px;
		}
	}
	
	&:focus {
		border-color: color('border', 'dark');
		outline: none;
	}
	&.dirty + .textfield-placeholder {
		//display: none;
		opacity: 0;
		transform: translate(50px,0);
	}
}
textarea {
	max-width: 100%;
	min-height: 130px;
}
.tel-before {
	position: absolute;
	top: auto;
	left: auto;
	margin-top: 10px;
	margin-left: -25px;
}
.col {
	>input[type="text"],
	>input[type="email"],
	>input[type="url"],
	>input[type="tel"],
	>input[type="password"],
	>input[type="search"],
	>.inputtext,
	>textarea {
		& + .textfield-placeholder {
			left: $gutter-width*1.25;
		}
	}
}

// checkbox
input[type="checkbox"] {
	display: none;
	& + .checkbox-lbl {
		line-height: 17px;
		vertical-align: middle;
		cursor: pointer;
		&:before {
			content: '';
			display: inline-block;
			width: 19px;
			height: 19px;
			border: 1px solid color('border', 'base');
			border-radius: $small-border-radius;
			margin-right: 8px;
			background-color: white;
			vertical-align: bottom;
		}
	}
	&:checked + .checkbox-lbl:before {
		background: white url('images/tick.png') center no-repeat;
	}
}

// radio
input[type="radio"] {
	display: none;
	& + .radio-lbl {
		display: inline-block;
		margin: 3px 0;
		line-height: 19px;
		vertical-align: middle;
		cursor: pointer;
		&:before {
			content: '';
			display: inline-block;
			width: 19px;
			height: 19px;
			border: 1px solid color('border', 'base');
			border-radius: $circle-border-radius;
			margin-right: 1em;
			background-color: white;
			padding: 4px;
			box-sizing: border-box;
			background-clip: content-box;
			vertical-align: top;
		}
	}
	&:checked + .radio-lbl:before {
		background-color: color('primary', 'base');
	}
}

.inline-field {
	vertical-align: baseline;
	margin: 1em 0;
	.label,
	.first-field {
		display: inline-block;
		margin-right: $gutter-width*1.25;
	}
	>input:not(.dropdown-inp),
	select,
	.select-box,
	.dropdown-box,
	.field,
	.second-field{
		display: inline-block;
		width: auto;
	}
	.field input,
	.second-field input{
		width: 100%;
	}
}
.table-field {
	@extend .inline-field;
	@extend .clearfix;
	.label,
	.first-field{
		width: 31%;
		margin-right: 10px;
	}
	>input,
	.field,
	.first-field + .second-field{
		width: 66%;
		width: calc(69% - 15px);
		margin: 3px 0;
		&[type="tel"] {
			width: 33%;
		}
		[type="tel"] {
			width: 66%;
		}
	}
	.second-field {
		float: right;
		width: 66%;
		width: calc(69% - 10px);
	}
	&.cols-2 > input,
	&.cols-2 > .field,
	.cols-2 .btn {
		width: calc((70% - 40px)/2);
		margin: 3px 5px;
		input {
			width: 100%;
		}
		&:first-of-type {
			margin-left: 0;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
	&.cols-3 > input,
	&.cols-3 > .field {
		width: calc((70% - 60px)/3);
		margin: 3px 5px;
		input {
			width: 100%;
		}
		&:first-of-type {
			margin-left: 0;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}
	&.top-tf {
		display: flex;
		align-items: flex-start;
		.label,
		.first-field {
			margin-top: $gutter-width/2;
		}
		>input,
		.field,
		.second-field {
			width: 66%;
			width: calc(69% - 10px);
		}
	}
	.action-box {
		margin-top: $gutter-width/2;
	}
	.action-box.cols-2 .btn {
		width: calc((100% - 40px)/2);
		margin: 0;
		&:first-child {
			margin-right: 35px;
		}
	}
}

// select
select {
	box-sizing: border-box;
	border: 1px solid color('border', 'light');
	border-radius: $small-border-radius;
	padding: 0 15px;
	font-family: inherit;
	line-height: 38px;
	height: 40px;
	vertical-align: baseline;
	cursor: pointer;
	option {
		max-width: 100%;
		color: color('text', 'base');
	}
}
.select-box select {
	width: 100%;
}
.triangle {
	position: absolute;
	top: 1px;
	right: 1px;
	width: 30px;
	height: 38px;
	background: #fff;
	font-size: 15px;
	border-radius: $small-border-radius;
	&:after {
		content: '>';
		display: block;
		position: absolute;
		top: 10px;
		right: 15px;
		color: color('text', 'light');
		font-weight: 100;
		transform: rotate(90deg) scale(1,2);
	}
}

// quantity-field
.quantity-field {
	display: inline-block;
	@extend .medium-text;
	.quantity-value {
		display: inline-block;
		width: 3em;
		max-width: 100%;
		padding: 0 1em 0 $gutter-width/2;
		font-size: inherit;
		line-height: 2em;
		height: 2em;
		border: 0;
		background: color('bg', 'base');
		color: color('icons', 'dark');
		border-radius: 0;
	}
	.btn-up,
	.btn-down {
		width: 1em;
		height: 1em;
		position: absolute;
		right: 0;
		background: color('primary', 'light');
		border: 0;
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			top: 5px;
			left: 5px;
			border-color: white;
			border-right-color: transparent;
			border-left-color: transparent;
			border-style: solid;
		}
		&:hover {
			background: color('primary', 'base');
		}
		&:disabled {
			background: #decdcd;
		}
	}
	.btn-up {
		top: 0;
		&:after {
			border-width: 0 3px 6px 3px;
		}
	}
	.btn-down {
		top: 1em;
		&:after {
			border-width: 6px 3px 0 3px;
		}
	}
}
.promocode-field {
	@extend .inline-field;
	margin-top: $gutter-width/2;
	input {
		width: auto;
		max-width: calc(100% - 80px);
		margin-right: $gutter-width;
	}
	.btn {
		padding: 0 $gutter-width;
	}
}