// Pagination
.pagination-box {
	margin: $gutter-width*1.5 auto $gutter-width*2.5;
	text-align: center;
}
.pagination {
	@extend ul.nostyle;
	text-align: center;
	font-size: 0;
	.pagin-item {
		display: inline-block;
		text-align: center;
		margin: 0;
		font-size: 0;
		&.first .pagin-link {
			border-radius: $base-border-radius 0 0 $base-border-radius;
		}
		&.last .pagin-link {
			border-radius: 0 $base-border-radius $base-border-radius 0;
			border-color: transparent;
		}

		.pagin-link {
			display: block;
			width: $gutter-width*2;
			height: $gutter-width*2;
			line-height: $gutter-width*2 - 2px;
			font-size: $base-size;
			vertical-align: middle;
			background: white;
			border: 1px solid transparent;
			border-right-color: #e9e9e9;
			color: color('text', 'base');
			&:hover {
				background-color: #e9e9e9;
				border-color: transparent;
			}
			&.active { 
				color: #fff; 
				background-color: #343434;
				border-color: transparent;
			}
		}

		&.disabled a {
			cursor: default;
			color: #999;
		}

		i {
			font-size: 2rem;
		}
		
	}
	
	.pagin-prev,
	.pagin-next {
		display: inline-block;
		vertical-align: top;
		margin: 0 $gutter-width/2;
		width: 40px;
		height: 40px;
		.prev,
		.next {
			display: block;
			padding: $gutter-width/2;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
		.next {
			transform: rotate(180deg);
		}
		.icon {
			fill: color('icons','base');
		}
		.disabled {
			cursor: default;
			.icon {
				fill: #ececec;
			}
		}
	}

}
